body {
  font-family: Helvetica, Arial, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: bold;
text-transform: normal;
letter-spacing: normal;
line-height: 1.4em;
color:#002b36;
text-align:center;
}
.chart-list {
  margin:auto;
  list-style: none;
  width:350px;
}

.chart-list li {
  float:left;
  padding:15px;
  width:140px;
}


.stats {
  clear:both
}
.stats li {
  margin:15px 0;
}

.last-run {
  color:#859900;
}
