<!DOCTYPE html>
<html>
  <head>
    <title>JD's Running page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <h1>Running Man</h1>
    <div class="container">
      <ul class="chart-list">
        <li>MPH <span class="last-run">{{ last.mph|round(2) }}</span> <div id="mph_sparkline">hello</div>
        <li>MPM <span class="last-run">{{ last.mpm|round(2) }}</span> <div id="mpm_sparkline">hello</div>
        <li>Time <span class="last-run">{{ last.run_time_display }}</span> <div id="time_sparkline">hello</div>
        <li>Distance <span class="last-run">{{ last.distance }}</span> <div id="distance_sparkline">hello</div>
        <li>Weight <span class="last-run">{{ last.weight }}</span> <div id="weight_sparkline">hello</div>
        <li>Dates <span class="last-run">{{ last.date.strftime('%a, %B %d') }}</span> <div id="date_sparkline">hello</div>
      </ul>
      <div class="stats">
        <ul>
          <li>
            Year to date:
            <div class="miles">{{ stats.miles }} miles</div>
            <div class="time">{{ stats.time_display }}</div>
          <li>
            Average:
            <div class="average">{{ stats.avg_mph }}mph <span>{{ stats.avg_mpm }}mpm</span></div>
          <li>
            Fastest on {{ stats.best_mph_date.strftime('%B %d') }}:
            <div class="best">{{ stats.best_mph }}mph <span>{{ stats.best_mpm }}mpm</span></div>
          <li>
            Longest on {{ stats.longest_run_date.strftime('%B %d') }}:
            <div class="longest">{{ stats.longest_run }} miles</div>
          </ul>
      </div>
    </div>
    <script type="text/javascript">
      var data = {{ json }}
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.sparkline.js"></script>
    <script type="text/javascript" src="run.js"></script>
  </body>
</html>
